@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
:root {
  --body-bg-color: #e5ecef;
  --theme-bg-color: #fff;
  --body-font: "Poppins",sans-serif;
  --body-color: #000;
  --subtitle-color3: #44444a;
  --herobg: #F3F3F3;
  --active-color: #0162ff;
  --active-color2: #3482ff;
  --active-light-color: #e1ebfb;
  --mainarea:  hsl(0, 0%, 97%);
  --header-bg-color: #fff;
  --search-border-color: #efefef;
  --border-color: #d8d8d8;
  --bordertwo: rgba(242, 242, 242, 1);
  --alert-bg-color: #e8f2ff;
  --subtitle-color: #1b1b1e;
  --inactive-color: #f6f6f6;
  --placeholder-color: #9b9ba5;
  --time-button: #fc5757;
  --level-button: #5052d5;
  --button-color: #fff;
  --header-bg-color2: #1c1c24;
  --subtitle-color2: #e5e5e5;
  --inactive-color3: #9b9ba5;
  --mybrightness: 1;
  --fullbrightness: 0.7;
  --myfontfamily:   "Poppins";
  --logocolor:#494747;
  --badge:#F3F3F3;
  --background-color: #e0e0e0;
  --shimmer-color-light: #f8f8f8;
  --shimmer-color-dark: #e0e0e0;
}

.dark-mode {
  --background-color: #303030;
  --shimmer-color-light: #484848;
  --shimmer-color-dark: #303030;
  --herobg: #13131a;
  --header-bg-color2: #d7d5d2;
  --subtitle-color2: #1b1b1e;
  --body-bg-color: #1d1d1d;
  --mainarea:  #1d1d1d;
  --subtitle-color3: #c6c6c6;
  --theme-bg-color: #13131a;
  --header-bg-color: #1c1c24;
  --badge: #09090a;
  --alert-bg-color: #292932;
  --body-color: #eeeeee;
  --inactive-color: #292932;
  --inactive-color3: #292932;
  --time-button: #fff;
  --level-button: #fff;
  --active-light-color: #263d63;
  --border-color: #26262f;
  --bordertwo: #26262f;
  --search-border-color: #26262f;
  --logocolor:#e5e5e5;
  --subtitle-color: #e5e5e5;
  --mybrightness: 0.8;
  --fullbrightness: 1;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  var(--myfontfamily);

}
a{
  text-decoration: none;
}
body {

  /* font-family: 'Nunito Sans', sans-serif; */
  background-color: var(--theme-bg-color);
  overflow-x: hidden;
}



header {
  background-color: white;
  background-color: var(--header-bg-color);
  position: sticky;
  top: 0;
  width: 100%;
padding: 3px;
  z-index: 9999;
  /* Line/Bottom */
  border-bottom: 1px solid var(--subtitle-color2);
}


header .containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;


}



::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.links{
  display: flex;
  align-items: center;
  gap: 25px;
}

.links a {
  font-family: var(--myfontfamily);
  font-size: 14px;
  font-weight: 300;
  line-height: 9.94px;
  text-transform: capitalize;
  text-align: left;
  text-decoration: none;
  color: var(--body-color);
  font-family: Poppins;
font-size: 14px;
font-weight: 300;
line-height: 36.07px;
text-align: left;

}
.links span{
  color: var(--subtitle-color);
  cursor: pointer;
}
.create {
  display: flex;
  gap: 18px;
}

.reg {
  display: flex;
  padding: 12px 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--primary-100, #FFf) !important;
  border-radius: 5px;
  background: #0b0d14;
  border-radius: 3px;
  /* Button/M */
  font-family: var(--myfontfamily);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  /* 300% */
  letter-spacing: -0.128px;
  text-transform: capitalize;
  text-decoration: none;
}


.activelink {
  color: #3E727D !important;
  font-weight: 700;
}

.containers {
  margin: auto;
  padding: 10px;
  width: 1200px;
}
.logo a{
  font-family: Prata;
  font-size: 18.23px;
  font-weight: 400;
  line-height: 25.07px;
  text-align: left;
color: var(--logocolor)  
}
.logo img {
  width: 100px;
  height: 50px;
  object-fit: contain;
}
.activepill{
  background: rgba(243, 243, 244, 1);

}
.material-symbols-outlined{
  font-weight: 100 !important;
}
.herosec{
  min-height: 410px;
  background-color: var(--herobg);
  width: 100%;
  border-bottom: 1px solid var(--subtitle-color2);
}
.herosec .containers{
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 0;
}

.sideone{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.herotitle{
  font-family: Poppins;
font-size: 58.83px;
font-weight: 500;
line-height: 88.25px;
text-align: left;
color: var(--body-color);
}

.herobody{
  font-family: Poppins;
font-size: 14.5px;
font-weight: 300;
line-height: 28.35px;
text-align: left;
color: var(--body-color);

}

.herobtn{
background-color: #282828;
border: 1px solid #282828;
font-family: Poppins;
font-size: 13.93px;
font-weight: 500;
line-height: 23.22px;
text-align: left;
color: #FFFFFF;
padding-inline: 17px;
padding-block: 8px;
width: fit-content;
border-radius: 5px;
margin-top: 9px;
align-items: center;
display: flex;
gap: 10px;
cursor: pointer;
transition: 0.2s ease-in-out;
}

.herobtn:hover{
  background-color: var(--theme-bg-color);
  color: var(--logocolor);
}
.sideone{
  width: 100%;
}
.sidetwo{
  width: 100%;
}
.sidetwo img{
  width: 100%;
  object-fit: contain;
}
.heroblocks{
width: 100%;

}
.heroblocks::-webkit-scrollbar {
  width: 0px !important;
  display: none; 
}

.heroblock{
  height: 534px;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
}
.cardcontent{
  padding: 60px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.heroblock .sidetwo{

width: 100%;
}
.productflex{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  gap: 30px;
}

.productcategory{
  width: 30%;
  border: 1px solid var(--inactive-color);
  margin-top: 25px;
  height: fit-content;
  background-color: var(--header-bg-color);
position: sticky;
top: 12%;
}

.cattitle{
  font-family: Poppins;
font-size: 15px;
font-weight: 500;
line-height: 19.5px;
text-align: left;
color: var(--body-color);
margin-bottom: 10px;
text-transform: uppercase;
}

.catvalues{
  font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: var(--subtitle-color3);
margin-top: 5px;
}
.catvalues span{
  font-family: Poppins;
font-weight: 200;

}
.catcontents{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;

}
.productgrid{
  width: 100%;
}
.htoptxt{
  font-family: Poppins;
font-size: 35.62px;
font-weight: 500;
line-height: 65.43px;
text-align: left;
color: var(--subtitle-color);
}
.toggle{
  display: none;
}
.hbtmtxt{
  color: var(--subtitle-color3);
}

.hbtmtxt{
  font-family: Poppins;
font-size: 14px;
font-weight: 300;
line-height: 25px;
text-align: left;

}
.heroblock:nth-child(even) {
  flex-direction: row-reverse;
}
.heroblock:nth-child(2) .sideone{
  background-image: url('/bg(2).jpg');
  height: 100%;
  background-size: cover ;
}

.heroblock:nth-child(3) .sideone{
  background-image: url('/bg(4).jpg');
  height: 100%;
  background-size: cover ;
}
.heroblock:nth-child(4) .sideone{
  background-image: url('/bg(3).jpg');
  height: 100%;
  background-size: cover ;
}
.heroblock .sideone{
  background-image: url('/bg(1).jpg');
  height: 100%;
  background-size: cover ;
}
.pagebadge{
  background: var(--badge);
  font-size: 14.93px;
  font-weight: 300;
  line-height: 23.22px;
  text-align: left;
color: #939393;  
}

.productgrid{
grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
margin-top: 20px;
gap: 14px;
width: 100%;
display: grid;
}

.detailpage{
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.pname{
  font-family: Poppins;
font-size: 12.99px;
font-weight: 500;
line-height: 13.23px;
text-align: left;
margin-top: 5px;
color: var(--body-color);
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

.pagetitle{
  font-family: Poppins;
font-size: 19px;
font-weight: 500;
line-height: 24.7px;
text-align: left;
color: var(--subtitle-color);
text-transform: uppercase;
}
.productgrid .herobtn, .pillxx .herobtn{
  font-size: 12.99px;
font-weight: 400;
/* line-height: 12.23px; */
width: 100%;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}
.pprice{
  font-family: Poppins;
font-size: 13.25px;
font-weight: 400;
margin-top: 5px;
line-height: 7.53px;
text-align: left;
color: var(--subtitle-color3);
padding-top: 4px;
}
.productcard{
  width: 100%;
  padding:5px;
  border: 1px solid var(--inactive-color);
  border-radius: 4px;
  background-color: var(--header-bg-color);
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
gap: 2px;
  /* font-family: 'manrope' !important; */
}
.imagecard{
  width: 100%;
  height: 250px;
  /* background: #f9f9f9; */
  position: relative;
  max-height:  250px;
  overflow: hidden;
  border: 1px solid  var(--inactive-color);    
  border-radius: 7px;
}
.imagecard {
  position: relative;
  display: inline-block; /* This makes sure the image card can be positioned relative */
}


.imagecard img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productimg{
  width: 70%;
  max-height: 550px;
  position: relative;
  border-radius: 8px;
}
.productimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.extradetails{
  margin-top: 10px;
  display: flex !important;
  flex-direction: column;
  gap: 10px;
 color: var(--subtitle-color);
}

.extradetails span{
  color: var(--subtitle-color3);
}
.producttxt{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 60px;
}

.prodtitle{
  font-family: Poppins;
font-size: 28.95px;
font-weight: 500;
line-height: 40.23px;
text-align: left;
color: var(--subtitle-color);
}

.prodprice{
  font-family: Poppins;
font-size: 18.93px;
font-weight: 400;
line-height: 9.98px;
text-align: left;
color: var(--subtitle-color);
}
.prodprice span{
  text-decoration: line-through;
  color: var(--subtitle-color3);
  font-size: 17.93px;
}

.proddesc{
  margin-top: 8px;
  font-family: Poppins;
font-size: 14px;
font-weight: 300;
line-height: 30.99px;
text-align: left;
color: var(--subtitle-color3);
}
.productdetailcontainer{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  max-height: 470px;
}

.horizontaltabs{
  display: flex;
  gap: 20px;
  font-family: Poppins;
font-size: 14.26px;
margin-top: 10px;
font-weight: 400;
line-height: 22.99px;
text-align: left;
color: var(--subtitle-color);

}

.tab{
  cursor: pointer;
}

.tabdesc{
  font-family: Poppins;
font-size: 13.76px;
font-weight: 300;
line-height: 22.99px;
text-align: left;
color: var(--subtitle-color3);
}

.cartitems{
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.carthead, .cartbody{
  display: flex;
  gap: 10px;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  padding: 10px;
  align-items: center;
}
.carthead{
  font-family: Poppins;
font-size: 15px;
font-weight: 500;
line-height: 23.22px;
text-align: left;
color: var(--body-color);
}
.cartbody .itemmid{
  font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 11.29px;
text-align: left;
color: var(--body-color)

}

.cartdata img{
  width: 60px;
  border-radius: 2px;
  height: 60px;
  object-fit: cover;
}
.itemsmall{
  padding: 5px;
  width: 10%;
}
.cartdata{
  display: flex;
  align-items: center;
  gap: 10px;
}
.itembig{
  padding: 5px;
  width: 50%;
}
.itembig .cartdata span{
  font-family: Poppins;
font-size: 15px;
font-weight: 500;
line-height: 23.22px;
text-align: center;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
color: var(--subtitle-color3);
}
.itemmid{
  padding: 5px;
  width: 40%;
}

.quantity-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px; 
  height: 40px;
  margin: 0;    
}

.quantity-field .value-button{ 
  border: 1px solid var(--inactive-color3);
  margin: 0px;
  width: 40px;
  height: 100%;   
  padding: 0;
  background: var(--header-bg-color);
  outline: none;
  cursor: pointer;
  color: var(--subtitle-color);

}
.cartbody .itemsmall{
  cursor: pointer;
}
.itemsmall{
  color: var(--body-color);
}
.quantity-field .value-button:hover {
  background: var(--subtitle-color);
  color: var(--placeholder-color);
}

.quantity-field .value-button:active{
  background: var(--inactive-color3);

}

.quantity-field .decrease-button {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

.quantity-field .increase-button {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}
 
.quantity-field .number{
  display: inline-block;
  text-align: center;
  border: none;
  border-top:   1px solid var(--inactive-color3);
  border-bottom: 1px solid var(--inactive-color3);
  border-left: 1px solid var(--inactive-color3);
  margin: 0px;
  width: 40px;
  height: 100%;
  line-height: 40px;
  font-size: 11pt;
  box-sizing: border-box; 
  background: var(--header-bg-color);
  font-family: calibri;
}

.quantity-field .number::selection{
  background: none;
}



@media screen and (max-width: 1300px) {
  .containers {

    width: 95%;
    padding: 20px;
  }


}


.swap-on-hover img {
  position: absolute;
  top:0;
  left:0;
	overflow: hidden;
	/* Sets the width and height for the images*/
  object-fit: cover;
}

/*
	We set z-index to be higher than the back image, so it's alwyas on the front.

We give it an opacity leaner to .25s, that way when we hover we will get a nice fading effect.
*/
.swap-on-hover .swap-on-hover__front-image {
  z-index: 1;
  transition: opacity .5s linear;
  cursor: pointer;
}

/* When we hover the figure element, the block with .swap-on-hover, we want to use > so the front-image is going to have opacity of 0, which means it will be hidden, to the back image will show */
.swap-on-hover:hover > .swap-on-hover__front-image{
  opacity: 0;
}
input, textarea, select {
  width: 100%;
  padding: 7px;
  border: 1px solid var(--search-border-color);
  background-color: var(--inactive-color);
  color: #878e98;
  font-size: 15px;
  font-weight: 400;
  line-height: 26.4px;
  letter-spacing: .002em;
  outline: none;
  text-align: left;
}

.creationform {
  padding: 20px;
  width: 100%;
  margin: auto;
  border: 1px solid var(--inactive-color);
  background-color: var(--header-bg-color);
  color: var(--subtitle-color3);
}
label{
  font-size: 14px;
  margin-bottom: 12px;
}
.colorhrading{
  color: var(--body-color);
  font-weight: 600;
}
form{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.cflx{
  display: flex;
  gap: 20px;
}

.paymentgateway{
  width: 40%;
  position: sticky;
  top: 16%;
  padding: 10px;
  border: 1px solid var(--inactive-color);
  background-color: var(--header-bg-color);
  color: var(--subtitle-color3);
  height: fit-content;
}
.paymentgateway button{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.creationform .herobtn{
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.herobtn{
  user-select: none;
 }

 .successfulbar{
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .successcontent{
  max-width: 60%;
  flex-direction: column;
  padding: 30px;
  border: 1px solid var(--inactive-color);
  border-radius: 6px;
  color: var(--subtitle-color3);
  display: flex;
  gap: 20px;
 }
.pdiv{
  display: flex;
  gap: 20px;
  padding-block: 6px;
  font-family: Poppins;
font-size: 15.01px;
font-weight: 400;
line-height: 23.23px;
text-align: left;

}

.successflex{
  display: flex;
  gap: 20px;
}
.successcontents{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.paymentreceived{
  font-family: Poppins;
font-size: 14.89px;
font-weight: 400;
text-align: left;
padding-bottom: 7px;
border-bottom: 1px solid var(--border-color);

}
.note{
  margin-top: 6px;
  padding: 10px;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  font-size: 13px;
  border-radius: 4px;
  line-height: 22.51px;
}
.pdiv span{
  font-size: 13px;
}
.delivery{
  color: var(--active-color2);
}
.div{
  width: 35%;
  color: var(--body-color);
}
 .successcontent h3{
  font-family: Poppins;
font-size: 21.21px;
font-weight: 600;
line-height: 32.51px;
text-align: left;
color: var(--body-color);
 }

 footer{

  background: #282828;
padding: 10px;
display: flex;
flex-direction: column;
 }

 footer .containers{
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 4px;
  grid-gap: 10px;
  gap: 10px;
  display: grid;
 }
.footerbtm a{
  text-decoration: none;
  color: #939393;
}
.footerlinks{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.copyright{
  font-family: Poppins;
font-size: 14.2px;
font-weight: 300;
line-height: 16.39px;
text-align: right;
color: #939393;
}
.footerlinks a{
  text-decoration: none;
  color: #939393;
  font-family: Poppins;
font-size: 13.98px;
font-weight: 400;
line-height: 12.12px;
text-align: left;

}

.footerbottom{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
 .footersec{
  margin-top: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: Poppins;
font-size: 14.2px;
font-weight: 500;
line-height: 13.9px;
text-align: left;
color: #FFFFFF;

 }

 .footerbtm{
  font-family: Poppins;
font-size: 14.2px;
font-weight: 300;
line-height: 25.85px;
text-align: left;
color: #939393;
 }
@media screen and (max-width:1000px) {
 .toggle{
  cursor: pointer;
 }

 .copyright{
  text-align: center;
  margin-top: 10px;
 }
 .successcontent{
  width: 100%;
  max-width: 95%;
  padding: 12px;
 }
 .pdiv{
  width: 100%;
 }
 .successflex{
  flex-direction: column;
 }
 .div{
  width: 50%;
 }
  .links{
    width: 100%;
  
    display: none;
    height: 0px;
    flex-direction: column;
    overflow: hidden;
    /* transition: 0.5s ease-in; */
    position: absolute;
  }
  .cflx{
    display: flex;
   flex-direction: column;
    gap: 20px;
  }

  .paymentgateway{
    width: 100%;
    position: relative;
  }
  .productflex{
    flex-direction: column;
  }
.toggle{
  display: flex;
  color: var(--subtitle-color3);
}
.footerbottom{
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1.5px solid #808080
}
.sidebar {
  width: 25%;
  padding: 17px;
  background-color: var(--header-bg-color);
  height: 100%;
  gap: 40px;
}
.sidebarshow {
  left: 0;
  width: 50%;
  padding: 20px;
  z-index: 999999;
  height: 100vh;
  background-color: var(--header-bg-color);


}


.myloadingani {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99999;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
}
header{
  z-index: 9999999;
}

.linksactive {
  display: flex;
  position: absolute;
  top: 69px;
  flex-direction: column;
  background-color: var(--header-bg-color);
  width: 90%;
  height: fit-content;
  padding-bottom: 10px;
}
  .productcategory{
    width: 100%;
  
position: relative;

  }
  .categories{
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    margin-top: 4px;
    grid-gap: 10px;
    gap: 10px;
    width: 100%;
    display: grid;
  }
  .productgrid {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-top: 20px;
 padding: 5px;
    gap: 10px;
    width: 100%;
    display: grid;
}
.productcard {
  width: 100%;
  padding: 5px;
  margin-top: 9px;
}



.productdetailcontainer{
  flex-direction: column;
  max-height: fit-content;
}
.productimg {
  width: 100%;
  min-height: 400px;
  max-height: 550px;
  position: relative;
  border-radius: 8px;
}
.producttxt{
  padding: 0;
}
.containers {
  width: 100%;
  padding: 10px;
}
.imagecard{
  width: 100%;
  height: 280px;
  /* background: #f9f9f9; */
  position: relative;
  max-height: 250px;
  overflow: hidden;
  border: 1px solid  var(--inactive-color);    
  border-radius: 7px;
}

.herosec .containers{
  padding: 10px;
  flex-direction: column-reverse;
  gap: 4px;
  align-items: center;
}
.herosec .sidetwo img {
  height: 310px;
  width: 100%;
  /* height: min-content; */
  object-fit: contain;
}
.herosec .sideone {
  width: 100%;
 padding-bottom: 20px;
 padding-top: -20px;
  align-items: center;
  padding-inline: 20px;
  margin-top: -20px;
}
.heroblock {
  flex-direction: column-reverse;
}
.heroblock:nth-child(even) {
  flex-direction: column-reverse;
}

.heroblock{
  height: fit-content;
}
.heroblock .sideone{
height: 400px !important;
}
.cardcontent {
  padding: 60px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}
.hbtmtxt{
  text-align: center;
}
}
@media screen and (max-width:700px) {
  .herotitle {
    font-family: Poppins;
    font-size: 33.83px;
    font-weight: 500;
    line-height: 34.25px;
    text-align: left;
    color: var(--body-color);
}

.carthead, .cartbody {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  padding: 10px;
  align-items: start;
  flex-direction: column;
}
.itembig, .itemmid, .itemmid {
  padding: 5px;
  width: 100%;
}
.quantity-field .number {
  display: inline-block;
  text-align: center;
  border: none;
  border-top: 1px solid var(--inactive-color3);
  border-bottom: 1px solid var(--inactive-color3);
  border-left: 1px solid var(--inactive-color3);
  margin: 0px;
  width: 60%;
  height: 100%;
  line-height: 40px;
  font-size: 11pt;
  box-sizing: border-box;
  background: var(--header-bg-color);
  font-family: calibri;
}
.quantity-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40px;
  margin: 0;
}
.herobody {
  font-family: Poppins;
  font-size: 13.5px;
  font-weight: 300;
  line-height: 22.35px;
  text-align: center;
  color: var(--body-color);
}
.cardcontent {
  padding: 60px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
}
.htoptxt {
  font-family: Poppins;
  font-size: 26.62px;
  font-weight: 500;
  line-height: 28.43px;
  text-align: center;
}
.heroblock .sidetwo {
  width: 100%;
  min-height: 300px;
  align-items: center;
  display: flex;
}
  
}
.simple-spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}

.flx{
  display: flex;
  gap: 10px;
  
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width:480px) {
  .cardcontent {
    padding: 60px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 9px;
}
.htoptxt {
  font-family: Poppins;
  font-size: 21.62px;
  font-weight: 500;
  line-height: 17.43px;
  text-align: center;
}
.herotitle {
  font-family: Poppins;
  font-size: 27.83px;
  font-weight: 500;
  line-height: 29.25px;
  text-align: left;
  color: var(--body-color);
}

.hbtmtxt {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
}
.herosec .sideone {
  width: 100%;
  padding-bottom: 20px;
  padding-top: -20px;
  align-items: center;
  padding-inline: 6px;
  margin-top: -20px;
}
  
}
.isloading{

}

.hgh{
  display: block;
}
.isloading .hgh{
  display: flex;
  color: transparent !important;
}
.isloading .hgh span{
  color: transparent !important;
}

.isloading .hgh{
  min-width: 120px;
  min-height: 20px;
  background-color: var(--background-color);
}


.shims img{
  display: none;
}

.shimmerss .shim, .isloading .hgh {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to right,
      var(--background-color) 0%,
      var(--shimmer-color-light) 20%,
      var(--shimmer-color-dark) 40%,
      var(--background-color) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
      background-position: -200% 0;
  }
  100% {
      background-position: 200% 0;
  }
}



.shimmers .acc,.shimmers .dashcard,.shimmers .dashnumber,.shimmers .exportbtn,.shimmers .tag,.shimmers a {
  animation: shimmer 1.9s ease infinite;
  background-size: 600% 100%;
  border-radius: 2px;
  border: none
}

.shimmer div,.shimmers .acc,.shimmers .dashcard,.shimmers .dashnumber,.shimmers .exportbtn,.shimmers .tag,.shimmers a {
  background-color: #f3f3f3ba!important;
  background-image: linear-gradient(90deg,transparent 25%,rgba(0,0,0,.1) 37%,transparent 63%);
  background-position: 100% 50%;
  color: transparent!important;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

@keyframes shimmer {
  0% {
      background-position: 100% 50%
  }

  to {
      background-position: 0 50%
  }
}